
/* START BUTTON DADO */
.card_circle_tip{
    position: absolute;
    bottom: -70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52ffab;
    cursor: pointer;
    transition: all .3s;
}

.card_circle_tip .button_tip{
    transform: scale(1.1);
}

.card_circle_tip:hover{
    transform: rotate(180deg);
    transition: all .3s;
    box-shadow: 0 0 30px #52ffab;
}

.card_circle_tip:hover .button_tip{
    transform: scale(1.2);
}
/* END BUTTON DADO */
